@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout1";
}
<div class="d-flex justify-content-center align-items-start mt-2">
    <div class="text-center">
        <img src="~/images/PaymentSuccess.jpg" alt="Payment Success" width="300px" height="400px" />
        <div class="text-info fs-4">Payment Successfully.</div>
        <div class="text-black ms-2">Thanks for Purchasing</div>
    </div>
</div>

