@model List<Journal>
@{
    Layout = "_Layout1";
}
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h3>Journal Lists</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Journal" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus-fill"></i>&nbsp;Add Journal
            </a>
        </div>
    </div>
</div>
<table id="tbl" class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <td class="w-50">Name</td>
            <td >Journal Id</td>
            <td >Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.OrderId</td>
                <td>
                    <div class="w-75">
                        <a asp-controller="Journal" asp-action="Edit" asp-route-id="@obj.JournalId" class="btn btn-warning">Edit</a>
                        <a asp-controller="Journal" asp-action="Delete" asp-route-id="@obj.JournalId" class="btn btn-danger">Delete</a>

                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbl').DataTable({
                'paging': true,
                'searching': true 
            });
        });


    </script>

}